{% extends 'core/base.html' %}

{% block title %}
<title>Acerca de mí</title>
{% endblock %}

{% block content %}

<div class="card p-4 text-light">
    <h2>Acerca de mí</h2>
    <hr>

    <p>
        Este proyecto fue desarrollado como parte de un sistema de inventario IT.
    </p>

    <p>
        La aplicación permite gestionar insumos tecnológicos como cables, memorias RAM,
        discos, herramientas y estaciones de trabajo.
    </p>

    <p>
        Desarrollado con Django, utilizando autenticación de usuarios, CRUD completo
        y buenas prácticas de desarrollo web.
    </p>

</div>

{% endblock %}